body{
    background-color: dimgray;
    font-family:monospace;
    font-size:48px;
    color:whitesmoke;
}
button{
    background-color: rgb(81, 81, 81);
}
table{
    border-style:solid;
    border-collapse:collapse;
}
th, td{
    border-style:dashed;
}
table, th, td{
    font-size:96px;
}